<aside class="job-list">
  <div class="count-card">
    <h2>
      <strong>{{ jobs().length }}</strong> empleos encontrados
    </h2>
  </div>
  <ul>
    @for (job of jobs(); track job.job_id) {
    <li class="job-card" (click)="selectJob(job.job_id)">
      <div class="job-top">
        <img
          [src]="job.company_image"
          [alt]="job.company"
          width="100"
          height="100"
        />
        <div class="job-info">
          <h3>{{ job.title }}</h3>
          <p>{{ job.company }}</p>
          <p class="location">{{ job.location }}</p>
        </div>
      </div>
      <div class="job-bottom">
        <p class="date">Publicado el {{ job.posted_date }}</p>
        <span class="progress">49%</span>
      </div>
    </li>
    }
  </ul>
</aside>
