@use "src/styles.scss" as *;
@use "sass:math";

.search-bar {
  display: flex;
  align-items: center;
  gap: $spacing-unit;
  padding: $spacing-unit;
  background-color: #fff;
  border-radius: $border-radius;
  box-shadow: $shadow;
  border: 2px solid $secondary-color;

  .input-with-icon {
    position: relative;
    display: flex;
    align-items: center;
    flex: 2;

    .icon {
      position: absolute;
      left: $spacing-half;
      top: 50%;
      transform: translateY(-50%);
      width: $font-size-base;
      height: $font-size-base;
      color: $secondary-color;
      pointer-events: none;
    }

    app-custom-input {
      padding-left: calc($font-size-base * 2);
      flex: 2;
      margin-left: 30px;
      padding: $spacing-half;
      &:focus {
        outline: none;
        border-color: $primary-color;
      }
    }

    &:not(:last-child)::after {
      content: "";
      position: absolute;
      right: math.div(-$spacing-unit, 2);
      top: 50%;
      transform: translateY(-50%);
      width: 2px;
      height: calc(100% - $spacing-half);
      background-color: $secondary-color;
    }
  }

  select {
    flex: 1;
    padding: $spacing-half;
    border: none;
    border-radius: $border-radius;
    font-size: $font-size-base;
    color: rgb(118, 115, 115);
    &:focus {
      outline: none;
      border-color: $primary-color;
    }
  }

  button {
    padding: $spacing-half $spacing-double;
    background-color: $primary-color;
    color: #fff;
    border: none;
    border-radius: $border-radius;
    font-size: $font-size-base;
    cursor: pointer;
    transition: background-color 0.3s;
    &:hover {
      background-color: $primary-hover-color;
    }
    &[disabled] {
      background-color: $secondary-color;
      cursor: not-allowed;
    }
  }
}
