<header>
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="search-bar">

    <app-custom-input
      [control]="searchForm.get('title')"
      placeholder="Buscar empleo..."
      type="text"
      errorMessage="Por favor ingresa un empleo válido"
    />
    <app-custom-input
      [control]="searchForm.get('location')"
      placeholder="Lugar"
      type="text"
      errorMessage="Por favor ingresa un lugar válido"
    />
    <button type="submit" [disabled]="searchForm.invalid">Buscar</button>

  </form>
</header>
